<footer class="to_up_observed">
	<div class="container">
		<div class="wrapper">
			<div class="column">
				<div class="logo_hfpt"></div>
				<div class="logo_stabiterm"></div>
			</div>
			<div class="column">
				<div>ООО НПФ "Лаборатория огнезащиты"</div>
				<div class="contact">
					<div class="icon fa-solid fa-location-dot"></div>
					<div class="text">
						606000, Российская Федерация, Нижегородская область, г. Дзержинск, ул. Науки 4а.
					</div>
				</div>
			</div>
			<div class="column column_middle">
				<a href="#" class="contact">
					<div class="icon fa-sharp fa-solid fa-phone"></div>
					<div class="text">+7 (831) 288-93-01</div>
				</a>
				<a href="#" class="contact">
					<div class="icon fa-solid fa-envelope"></div>
					<div class="text">info@stabiterm.ru</div>
				</a>
				<a href="#" class="contact">
					<div class="icon fa-solid fa-globe"></div>
					<div class="text">Stabiterm.ru</div>
				</a>
			</div>
			<div class="column">
				<a href="#" class="messenger fa-brands fa-telegram"></a>
				<a href="#" class="messenger fa-brands fa-whatsapp"></a>
			</div>
		</div>
	</div>
</footer>