<nav>
    <div class="header">
        <div class="container">
            <div class="wrapper">
                <a href="#" class="logo">

                </a>
                <div class="contacts_left">
                    <a href="#" class="item">
                        <div class="icon fa-sharp fa-solid fa-globe">
                        </div>
                        <div class="text">
                            Stabiterm.ru
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div class="icon fa-solid fa-phone">
                        </div>
                        <div class="text">
                            + 7(831) 288-93-01
                        </div>
                    </a>
                </div>
                <div class="contacts_right">
                    <a href="#" class="item fa-brands fa-telegram"></a>
                    <a href="#" class="item fa-brands fa-whatsapp"></a>
                </div>
                <a href="#" class="lang">
                    <div class="name">
                        RUS
                    </div>
                    <div class="img img_ru"></div>
                </a>
                <a href="#" class="btn">
                    Пригласить нас
                </a>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="container">
            <div class="wrapper">
                <a href="index.html#main" class="logo">

                </a>
                <a href="index.html#main" class="item" data-text="Главная" id="menu_main">
                    Главная
                </a>
                <a href="index.html#about" class="item" data-text="О нас" id="menu_about">
                    О нас
                </a>
                <div class="item subs" data-text="События" id="menu_events" onclick="window.location = 'index.html#events'">
                    События
                    <div class="submenu">
                        <a href="#" class="subitem">Предстоящие</a>
                        <a href="#" class="subitem">Ташкент, Узбекистан</a>
                        <a href="#" class="subitem">Пермь, Россия</a>
                        <a href="#" class="subitem">Душанбе, Таджикистан</a>
                    </div>
                </div>
                <a href="index.html#partnership" class="item" data-text="Партнерство" id="menu_partnership">
                    Партнерство
                </a>
                <a href="#contacts" class="item" data-text="Свяжитесь с нами" id="menu_contacts">
                    Свяжитесь с нами
                </a>
            </div>
        </div>
    </div>
</nav>