<!DOCTYPE html>
<html lang="en">

<head>
	<%= require('../partials/meta.html?raw') %>
		<title>HFPT - High fire protection technologies. Событие</title>
</head>

<body>
	<%= require('../partials/nav.html?raw') %>
		<section class="section_first section_backgroud screen_first to_up_observed">
			<img src="../media/img_3652.jpg" alt="" class="background">
			<div class="logo"></div>
			<div class="divider"></div>
			<div class="text">Идеальная площадка для поиска новых путей развития пожарной безопасности</div>
			<a href="#contacts" class="btn">Организовать Сессию</a>
			<a href="#event" class="scroller">
				<div class="info">Листайте вниз</div>
				<div class="icon fa-solid fa-chevron-down"></div>
			</a>
		</section>
		<section class="screen_event" id="event">
			<div class="container">
				<h1>ЕКТЕРИНБУРГ, РОССИЯ</h1>
				<div class="content">
					<div class="info">
						<div class="location">
							<div class="icon fa-solid fa-location-dot"></div>
							<div class="text">
								Россия, Свердловская область, Ектеринбург, спортивный комплекс "Динамо"
							</div>
						</div>
						<div class="datetime">
							<div class="date">
								<div class="icon fa-solid fa-calendar"></div>
								<div class="text">12/06/2023</div>
							</div>
							<div class="time">
								<div class="icon fa-solid fa-clock"></div>
								<div class="text">
									16:00
								</div>
							</div>
						</div>
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt at ipsa possimus eius
								placeat vero nihil iure, labore consequuntur, est repudiandae assumenda quis laborum
								tempora eos quasi ad maxime explicabo.
							</p>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus assumenda esse
								voluptas rerum ipsa eos voluptatem illo iste, atque adipisci nam, autem suscipit enim
								necessitatibus aliquam. Quam iusto necessitatibus explicabo.
							</p>
						</div>
					</div>
					<div class="images">
						<div class="image">
							<img src="../media/339A3386.jpg" alt="">
						</div>
						<div class="image">
							<img src="../media/339A3202.jpg" alt="">
						</div>
						<div class="image">
							<img src="../media/339A3217.jpg" alt="">
						</div>
						<div class="image">
							<img src="../media/N33A9055.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="screen_contact paged" id="contacts">
			<div class="container">
				<div class="wrapper">
					<h1>СВЯЖИТЕСЬ С НАМИ</h1>
					<form action="" class="form">
						<div class="row">
							<div class="column">
								<label for="">Имя</label>
								<input type="text" placeholder="Имя">
							</div>
							<div class="column">
								<label for="">Телефон</label>
								<input type="text" placeholder="Телефон">
							</div>
							<div class="column">
								<label for="">E-mail</label>
								<input type="email" name="" id="" placeholder="E-mail">
							</div>
						</div>
						<div class="row">
							<div class="column">
								<label for="">Должность</label>
								<input type="text" placeholder="Должность">
							</div>
							<div class="column">
								<label for="">Компания</label>
								<input type="text" placeholder="Компания">
							</div>
						</div>
						<div class="row">
							<div class="column">
								<label for="">Ожидаемая страна и город проведения</label>
								<input type="text" placeholder="Ожидаемая страна и город проведения">
							</div>
							<div class="column">
								<label for="">Ожидаемое количество участников</label>
								<input type="number" placeholder="Ожидаемое количество участников">
							</div>
						</div>
						<div class="row">
							<div class="column">
								<label for="">Примечание <span class="label">(не более 150 символов)</span></label>
								<textarea name="" id="" cols="30" rows="6"></textarea>
							</div>
						</div>
						<div class="controls">
							<div class="check">
								<div class="box">
									<div class="icon fa-solid fa-check"></div>
									<input type="checkbox" name="" id="">
								</div>
								<div class="text">
									Согласен (-на) на передачу персональных данных
								</div>
							</div>
							<button class="btn">Отправить</button>
						</div>
					</form>
				</div>
			</div>
		</section>
		<%= require('../partials/to_up.html?raw') %>
		<%= require('../partials/footer.html?raw') %>
</body>

</html>