<!DOCTYPE html>
<html lang="en">

<head>
	<%= require('../partials/meta.html?raw') %>
		<title>HFPT - High fire protection technologies. Главная</title>
</head>

<body>
	<%= require('../partials/nav.html?raw') %>
		<section class="section_first section_backgroud screen_first to_up_observed">
			<img src="../media/img_3652.jpg" alt="" class="background">
			<div class="logo"></div>
			<div class="divider"></div>
			<div class="text">Идеальная площадка для поиска новых путей развития пожарной безопасности</div>
			<a href="#contacts" class="btn">Организовать Сессию</a>
			<a href="#main" class="scroller">
				<div class="info">Листайте вниз</div>
				<div class="icon fa-solid fa-chevron-down"></div>
			</a>
		</section>
		<section class="screen_second paged" id="main">
			<div class="container">
				<div class="wrapper">
					<div class="image">
						<img src="../media/N33A9055.jpg" alt="">
					</div>
					<p>
						<a href="#">
							Добро пожаловать на официальный портал Сессий High Fire Protection Technologies ("Высокие
							огнезащитные
							технологии")
						</a>, площадки для демонстрации последних достижений в области технологий пожарной
						безопасности.
						<a href="#">
							Наши мероприятия
						</a>
						предоставляют возможности для общения на высоком уровне и демонстрируя передовые
						решения в области огнезащиты.
					</p>
					<p>
						Благодаря разнообразной аудитории, включающей представителей государственных органов,
						архитекторов,
						инженеров и лидеров отрасли, Сессии являются платформой для обмена знаниями, мнениями и
						передовым опытом
						по повышению пожарной безопасности в различных секторах.
					</p>
					<div class="divider">
					</div>
					<div class="block">
						<p>
							Наши мероприятия - от огневых испытаний до экспертных дискуссий - призваны вдохновить
							участников и дать им возможность повысить уровень пожарной безопасности в своих регионах и
							компаниях.
						</p>
						<p>
							Имея опыт успешного проведения мероприятий в различных городах и странах, наша команда
							стремится обеспечить высокую эффективность и стимулировать инновации в области огнезащиты.
						</p>
						<p>
							Мы стремимся помочь предприятиям, сообществам и частным лицам достичь лучших результатов в
							сфере пожарной безопасности.
						</p>
						<p>
							Если вы хотите быть в курсе последних тенденций отрасли или хотите расширить свою сеть и
							найти новых партнёров, Сессии "Высокие огнезащитные технологии" - идеальное место для
							обсуждения вопросов пожарной безопасности.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="screen_third paged" id="about">
			<div class="container">
				<div class="wrapper">
					<div class="left">
						<h1>О НАС</h1>
						<p>
							ООО НПФ "Лаборатория огнезащиты" (Стабитерм™) - ведущий производитель огнезащитных покрытий
							и решений с более чем 15-летним опытом работы в отрасли. Наша продукция предназначена для
							защиты жизни и имущества путём предотвращения или замедления ущерба, вызванного пожаром в
							критически важных областях зданий, таких как стальные конструкции, кабельные системы и
							многое другое. Имея широкое присутствие в нескольких странах мира, включая Россию,
							Узбекистан, ОАЭ, Индию и другие, мы стремимся поставлять высококачественную продукцию и
							услуги, отвечающие самым высоким стандартам безопасности, надёжности и эффективности.
						</p>
						<p>
							Наша продукция представлена широким рядом индустриальных огнезащитных материалов для защиты
							металлоконструкций, кабельных систем и деревянных поверхностей во время пожара. Широкий
							ассортимент и отраслевая сертификация продукции позволяет предложить каждому клиенту
							оптимальные с точки зрения эффективности и стоимости решения. Наш научно-технический
							потенциал позволяет решить любые нестандартные задачи повышения огнестойкости,
							проанализировать и предложить наиболее эффективные и рациональные решения, в том числе
							разработать и испытать новые огнезащитные материалы и изделия.
						</p>
					</div>
					<div class="right">
						<div class="image">
							<img src="../media/339A3343.jpg" alt="">
						</div>
						<div class="image">
							<img src="../media/339A3202.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section_backgroud screen_fourth">
			<img src="../media/339A3217.jpg" alt="" class="background">
			<div class="container">
				<div class="wrapper">
					<div class="text">
						Мы можем поддержать организацию
						<br>
						Сессии любого масштаба
					</div>
					<div class="info">
						Нажмите здесь, чтобы связаться с нами
					</div>
					<a href="#" class="btn">Пригласить нас</a>
				</div>
			</div>
		</section>
		<section class="section_backgroud screen_five paged" id="events">
			<div class="container">
				<h1>СОБЫТИЯ</h1>
				<div class="wrapper">
					<div class="events">
						<div class="event">
							<div class="image">
								<img src="../media/339A3386.jpg" alt="">
								<div class="tab">Предстоящее событие</div>
							</div>
							<div class="content">
								<div class="info">
									<div class="location">
										<div class="icon fa-solid fa-location-dot"></div>
										<div class="text">Екатеринбург, Россия</div>
									</div>
									<div class="date">12/06/2023</div>
								</div>
								<a href="event.html" class="btn">Подробнее</a>
							</div>
						</div>
						<div class="event">
							<div class="image">
								<img src="../media/339A3386.jpg" alt="">
							</div>
							<div class="content">
								<div class="info">
									<div class="location">
										<div class="icon fa-solid fa-location-dot"></div>
										<div class="text">Екатеринбург, Россия</div>
									</div>
									<div class="date">12/06/2023</div>
								</div>
								<a href="event.html" class="btn">Подробнее</a>
							</div>
						</div>
						<div class="event">
							<div class="image">
								<img src="../media/339A3386.jpg" alt="">
							</div>
							<div class="content">
								<div class="info">
									<div class="location">
										<div class="icon fa-solid fa-location-dot"></div>
										<div class="text">Екатеринбург, Россия</div>
									</div>
									<div class="date">12/06/2023</div>
								</div>
								<a href="event.html" class="btn">Подробнее</a>
							</div>
						</div>
						<div class="event">
							<div class="image">
								<img src="../media/339A3386.jpg" alt="">
							</div>
							<div class="content">
								<div class="info">
									<div class="location">
										<div class="icon fa-solid fa-location-dot"></div>
										<div class="text">Екатеринбург, Россия</div>
									</div>
									<div class="date">12/06/2023</div>
								</div>
								<a href="event.html" class="btn">Подробнее</a>
							</div>
						</div>
						<div class="event">
							<div class="image">
								<img src="../media/339A3386.jpg" alt="">
							</div>
							<div class="content">
								<div class="info">
									<div class="location">
										<div class="icon fa-solid fa-location-dot"></div>
										<div class="text">Екатеринбург, Россия</div>
									</div>
									<div class="date">12/06/2023</div>
								</div>
								<a href="event.html" class="btn">Подробнее</a>
							</div>
						</div>
						<div class="event">
							<div class="image">
								<img src="../media/339A3386.jpg" alt="">
							</div>
							<div class="content">
								<div class="info">
									<div class="location">
										<div class="icon fa-solid fa-location-dot"></div>
										<div class="text">Екатеринбург, Россия</div>
									</div>
									<div class="date">12/06/2023</div>
								</div>
								<a href="event.html" class="btn">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="screen_six paged" id="partnership">
			<div class="container">
				<div class="wrapper">
					<h1>ПАРТНЁРСТВО</h1>
					<div class="image">
						<img src="../media/N33A8988.jpg" alt="">
					</div>
					<p>
						Мы считаем, что сотрудничество - это ключ к развитию пожарной безопасности и защите жизни и
						имущества. Именно поэтому мы рады партнёрству с организациями, которые разделяют наше
						видение и
						стремятся оказать положительное влияние на рынок огнезащиты.
					</p>
					<div class="items">
						<div class="item">
							<div class="icon"></div>
							<div class="text">
								Как наш партнёр, вы получите доступ к нашей развитой сети специалистов, участников
								рынка
								и руководителей предприятий отрасли.
							</div>
						</div>
						<div class="item">
							<div class="icon"></div>
							<div class="text">
								Мы будем тесно сотрудничать с вами, чтобы понять ваши конкретные потребности и
								адаптировать наши мероприятия к вашим целям.
							</div>
						</div>
						<div class="item">
							<div class="icon"></div>
							<div class="text">
								Мы также поможем вам охватить более широкую аудиторию и представить ваши продукты и
								услуги потенциальным клиентам.
							</div>
						</div>
						<div class="item">
							<div class="icon"></div>
							<div class="text">
								Наша команда опытных профессионалов обладает глубоким пониманием особенностей
								огнезащиты
								и с готовностью поделится своими знаниями
							</div>
						</div>
					</div>
					<p>
						Независимо от того, хотите ли вы продвигать новейшие продукты в сфере огнезащиты, наладить
						контакты с потенциальными клиентами или расширить свой бизнес и выйти на новые рынки, мы
						готовы
						вас поддержать. Свяжитесь с нами сегодня, чтобы обсудить возможности сотрудничества и
						узнать,
						как мы можем помочь вам достичь ваших целей в области пожарной безопасности.
					</p>
				</div>
			</div>
		</section>
		<section class="screen_contact paged" id="contacts">
			<div class="container">
				<div class="wrapper">
					<h1>СВЯЖИТЕСЬ С НАМИ</h1>
					<form action="" class="form">
						<div class="row">
							<div class="column">
								<label for="">Имя</label>
								<input type="text" placeholder="Имя">
							</div>
							<div class="column">
								<label for="">Телефон</label>
								<input type="text" placeholder="Телефон">
							</div>
							<div class="column">
								<label for="">E-mail</label>
								<input type="email" name="" id="" placeholder="E-mail">
							</div>
						</div>
						<div class="row">
							<div class="column">
								<label for="">Должность</label>
								<input type="text" placeholder="Должность">
							</div>
							<div class="column">
								<label for="">Компания</label>
								<input type="text" placeholder="Компания">
							</div>
						</div>
						<div class="row">
							<div class="column">
								<label for="">Ожидаемая страна и город проведения</label>
								<input type="text" placeholder="Ожидаемая страна и город проведения">
							</div>
							<div class="column">
								<label for="">Ожидаемое количество участников</label>
								<input type="number" placeholder="Ожидаемое количество участников">
							</div>
						</div>
						<div class="row">
							<div class="column">
								<label for="">Примечание <span class="label">(не более 150 символов)</span></label>
								<textarea name="" id="" cols="30" rows="6"></textarea>
							</div>
						</div>
						<div class="controls">
							<div class="check">
								<div class="box">
									<div class="icon fa-solid fa-check"></div>
									<input type="checkbox" name="" id="">
								</div>
								<div class="text">
									Согласен (-на) на передачу персональных данных
								</div>
							</div>
							<button class="btn">Отправить</button>
						</div>
					</form>
				</div>
			</div>
		</section>
		<%= require('../partials/to_up.html?raw') %>
		<%= require('../partials/footer.html?raw') %>
</body>

</html>